header {
background-color: rosybrown;
}

nav {
    background-color: beige;
}

main {
    background-color: lavenderblush;
}

ul {
    background-color: plum;
}

li {
    color:darkcyan
}

footer {
    color:rebeccapurple
}