main{
    margin-left:70px;
    padding: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
  }

  header{
    text-align: center;
  }

  .sidebar1{
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width:30px;
    background-color: rgb(149, 141, 170);
    color:white;
    writing-mode: vertical-rl;
    font-size: 30px;

  }


